@model MiniStore.Website.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Category";
}
<div class="row">
    <div class="col-md-4">
        @await  Component.InvokeAsync(nameof(MiniStore.Website.ViewComponents.CategoryTree))
    </div>
    <div class="col-md-8">
        <div>
            <h4>CategoryViewModel</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Category.Id)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Category.Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Category.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>
            </dl>
            <hr />
        </div>
        @foreach (var product in Model.Products)
        {
        <div class="col-md-3">
            @product.Name<br/>@product.Price
        </div>

        }

    </div>
</div>
<h2>Category</h2>

